
######################
[mysqld_multi]
mysqld=/usr/local/mysql/bin/mysqld_safe
mysqladmin=/usr/local/mysql/bin/mysqladmin
log=/data/mysql_multi.log
user = root
password = redhat
#######################
[mysqld1]
default-storage-engine=InnoDB
skip-name-resolve
server-id=1
log-bin=mysql-bin
binlog_format = MIXED
binlog-ignore-db=performance_schema
key_buffer_size=10240M
table_open_cache=1024
sort_buffer_size=80M
read_buffer_size=80M
join_buffer_size=80M
query_cache_size=640M
thread_cache_size=640
max_connect_errors=10000
max_connections=1000
max_user_connections=0 
innodb_file_per_table=1
innodb_flush_method=O_DIRECT
innodb_buffer_pool_size=1G
innodb_data_file_path=ibdata1:10M:autoextend
innodb_lock_wait_timeout=18000
log-error=/data/3306/log/mysql.error
general_log=ON
general_log_file=/data/3306/log/mysql.log
slow_query_log=1
long_query_time=3
slow-query-log-file=/data/3306/log/slowquery.log
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES 
basedir=/usr/local/mysql
datadir=/data/3306/data
secure-file-priv=/data/3306/data
port=3306
server_id=1
socket=/data/3306/mysql.sock
symbolic-links=0
character_set_server=utf8
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
wait_timeout=31536000
interactive_timeout=31536000
#########################
[mysqld2]
default-storage-engine=InnoDB
skip-name-resolve
server-id=1
log-bin=mysql-bin
binlog_format = MIXED
binlog-ignore-db=performance_schema
key_buffer_size=10240M
table_open_cache=1024
sort_buffer_size=80M
read_buffer_size=80M
join_buffer_size=80M
query_cache_size=640M
thread_cache_size=640
max_connect_errors=10000
max_connections=1000
max_user_connections=0 
innodb_file_per_table=1
innodb_flush_method=O_DIRECT
innodb_buffer_pool_size=1G
innodb_data_file_path=ibdata1:10M:autoextend
innodb_lock_wait_timeout=18000
log-error=/data/3307/log/mysql.error
general_log=ON
general_log_file=/data/3307/log/mysql.log
slow_query_log=1
long_query_time=3
slow-query-log-file=/data/3307/log/slowquery.log
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES 
basedir=/usr/local/mysql
datadir=/data/3307/data
secure-file-priv=/data/3307/data
port=3307
server_id=2
socket=/data/3307/mysql.sock
symbolic-links=0
character_set_server=utf8
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
wait_timeout=31536000
interactive_timeout=31536000
###########################
#[client]
#socket=/data/mysql/mysql.sock

